@import "../../variables.scss";

.MuiCard-root {
    max-width: 345px;
    margin: 50px;
    border: solid 1px $dark-primary-color;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
        background-color: $dark-primary-color;
    }

    .MuiCardMedia-root {
        height: 120px;
        width: 175px;
        border-bottom: solid 1px $dark-primary-color;
    }
}
