@import "../../variables.scss";

.MuiAppBar-root {
    background-color: $dark-primary-color !important;
    .hyperlink {
        color: $secondary-color;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: $light-primary-color;
        }
    }

    .same-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .App-logo {
        height: 5vmin;
        padding-right: 5px;
    }
}
