.coin-detail-container {
    .price-increase {
        color: green;
    }

    .price-decrease {
        color: red;
    }

    .align-right {
        text-align: right;
    }

    .coin-data {
        text-align: center;
        margin-bottom: 20px;
    }

    .rotating-image {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 70px;
        animation: rotate 15s linear infinite;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
